@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));
/* --line-height-tight: 110%;
--line-height-snug: 120%;
--line-height-normal: 140%;
--line-height-relaxed: 160%;
--line-height-loose: 180%; */

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(21.733% 0.05746 248.786);
  --card: oklch(0.09 0 0);
  --card-foreground: oklch(1 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0 0 0);
  /* 3BB75E */
  --primary: oklch(69.078% 0.16746 149.045) ;
  --primary-foreground: oklch(98.761% 0.00181 249.253);
  --secondary: oklch(0.172 0.055 264.8);
  --secondary-foreground: oklch(0.9555 0.0165 8.17);
  --muted: oklch(0.2174 0.0019 106.5582);
  --muted-foreground: oklch(0.5382 0 0);
  --accent: oklch(1 0 0);
  --accent-foreground: oklch(0.2046 0 0);
  --destructive: oklch(0.7657 0.158 97.3215);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.352 0.0017 106.4867);
  --input: oklch(0 0 0);
  --ring: oklch(0.709 0 0);
  --chart-1: oklch(0.7576 0.1615 307.4863);
  --chart-2: oklch(0.6066 0.263 308.5964);
  --chart-3: oklch(0.5882 0.274 311.3932);
  --chart-4: oklch(0.5533 0.2613 313.4848);
  --chart-5: oklch(0.4872 0.2142 316.861);
  --sidebar: oklch(0.9851 0 0);
  --sidebar-foreground: oklch(0.215 0.0025 325.6623);
  --sidebar-primary: oklch(0.215 0.0025 325.6623);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.9702 0 0);
  --sidebar-accent-foreground: oklch(0.215 0.0025 325.6623);
  --sidebar-border: oklch(0.9219 0 0);
  --sidebar-ring: oklch(0.709 0 0);
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-graphik: Graphik, sans-serif;
  --font-boing: Boing, sans-serif;
  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
    monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

/* Not needed for now */
/* .dark {
  --background: oklch(0.2150 0.0025 325.6623);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.2150 0.0025 325.6623);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.2686 0 0);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.9219 0 0);
  --primary-foreground: oklch(0.2150 0.0025 325.6623);
  --secondary: oklch(0.2686 0 0);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2686 0 0);
  --muted-foreground: oklch(0.7090 0 0);
  --accent: oklch(0.3715 0 0);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.9661 0.1691 108.1053);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2768 0 0);
  --input: oklch(0.3250 0 0);
  --ring: oklch(0.5555 0 0);
  --chart-1: oklch(0.7576 0.1615 307.4863);
  --chart-2: oklch(0.6066 0.2630 308.5964);
  --chart-3: oklch(0.5882 0.2740 311.3932);
  --chart-4: oklch(0.5533 0.2613 313.4848);
  --chart-5: oklch(0.4872 0.2142 316.8610);
  --sidebar: oklch(0.2150 0.0025 325.6623);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.5781 0.2768 314.7648);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(0.2686 0 0);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2768 0 0);
  --sidebar-ring: oklch(0.4386 0 0);
  --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --radius: 0.625rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-purple: oklch(0.507 0.222 296.6);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-border-dark: #1d1d20;
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-foreground-text: #94969d;
  --color-foreground-border: #28282c;
  --color-cardbg-one: #18181a;

  --font-graphik: var(--font-graphik);
  --font-boing: var(--font-boing);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --line-height-1: 76.8px;
  --line-height-6: 20px;
  --line-height-7: 24px;

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --text-h-1: 3.844rem; /* 61.5px / 16 = 3.84375rem */
  --text-h-1-font-weight: 700;

  --text-heading: 3.4125rem;

  --text-h-2: 2.9rem;
  --text-h-2-line-height: 110%;
  --text-h-2-font-weight: 700;

  --text-h-3: 2.4rem;
  --text-h-3-line-height: 110%;
  --text-h-3-font-weight: 700;

  --text-h-4: 1.9rem;
  --text-h-4-line-height: 110%;
  --text-h-4-font-weight: 700;

  --text-h-5: 1.4rem;
  --text-h-5-line-height: 110%;
  --text-h-5-font-weight: 700;

  --text-h-6: 1.25rem; /* 20px */
  --text-h-6-line-height: 110%;
  --text-h-6-font-weight: 600;

  --text-body-l: 1.15rem;
  --text-body-l-line-height: 140%;
  --text-body-l-font-weight: 400;

  --text-body-m: 1.025rem;
  --text-body-m-line-height: 140%;
  --text-body-m-font-weight: 400;

  --text-body-r: 0.9rem;
  --text-body-r-line-height: 140%;
  --text-body-r-font-weight: 400;

  --text-body-s: 0.775rem;
  --text-body-s-line-height: 140%;
  --text-body-s-font-weight: 400;

  --text-caption-s: 0.75rem;
  --text-caption-s-line-height: 140%;
  --text-caption-s-font-weight: 400;

  --color-foreground-text: #94969d;
  --color-foreground-border: #28282c;
  --animate-marquee: marquee var(--duration) infinite linear;
  --animate-marquee-vertical: marquee-vertical var(--duration) linear infinite;
  --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  @keyframes marquee-vertical {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(calc(-100% - var(--gap)));
    }
  }
}
@layer base {
  * {
    @apply border-border outline-ring/50 scroll-pt-56 scroll-smooth;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes marquee2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.marquee {
  animation: marquee 25s linear infinite;
}

.marquee2 {
  animation: marquee2 25s linear infinite;
}

@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}
